* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
}

.container {
  display: grid;
  grid-template-rows: auto;
}

.line {
  border-top: black solid 5px;
}

.intro {
  display: grid;
  grid-template:
    "name nav" 75px
    "blurb blurb" 100vh /
    auto 1fr;
  background-color: #4eb6ac;
  color: white;
  font-weight: bold;
  padding: 5px;
}

span {
  color: black;
}

.name {
  grid-area: name;
  padding: 10px;
  font-size: 35px;
  display: flex;
  place-items: center;
}

.nav {
  grid-area: nav;

  display: grid;
  justify-items: flex-end;
  align-items: center;
}

nav a {
  text-decoration: none;
  padding: 15px 30px;
  margin: 10px;
  background-color: whitesmoke;
  color: #4eb6ac;
  border-radius: 10px;
}

nav a:hover {
  color: white;
  background-color: #4eb6ac;
  border: whitesmoke solid 4px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 5px;
  grid-auto-flow: column;
}

.blurb {
  grid-area: blurb;
  padding: 100px 30% 10% 30%;
}

h1 {
  font-size: 100px;
  padding-bottom: 10px;
}

.blurb p {
  font-size: 30px;
}

.blurb u {
  text-decoration-color: black;
}


.about-me,
.experience {
  padding: 50px 30% 60px 30%;
}
/* BELOW: These had classes with their child selectors, 
this felt more succint but less specific, which is better? */

h2, h4, p, ul, li {
  padding: 10px;
}

.about-me ul {
  list-style-position: inside;
  column-count: 2;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
}

.portfolio {
  background-color: #ffebee;
  display: grid;
  grid-template:
    "header" 50px
    "box" auto /
    1fr;
  padding: 50px 10% 60px 10%;
}

.box {
  grid-area: box;
  display: flex;
  justify-content: center;
}

.portfolio-box {
  display: inline-block;
  height: 450px;
  width: 300px;
  padding: 25px;
  border: #ae1457 solid 7px;
  margin: 15px;
  background-color: whitesmoke;
  overflow-y: auto;
}

.button {
  padding: 10px 20px;
  background-color: #ae1457;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.github {
  font-size: 12px;
  text-decoration: underline;
  text-align: center;
}
.github a {
  color: #ae1457;
}

.footer {
  height: 40px;
  background-color: #1D313A;
  color: rgb(180, 155, 108);
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-top: none;
}

@media screen and (max-width: 1000px)  {
  .blurb {
    grid-area: blurb;
    padding: 100px 20% 10% 20%;
  }
  
  h1 {
    font-size: 90px;
    padding-bottom: 10px;
  }

  .blurb p {
    font-size: 25px;
  }  
}